body {
    background: #111;
    color: #eee;
}
table {
    overflow: auto;
}
select {
    max-width: 40vw;
}
a {
    color: #fdd;
}
a:visited {
    color: #fdd;
}
a:hover {
    color: #fee;
}
.leaflet-popup-pane a, .leaflet-popup-pane a:visited, .leaflet-popup-pane a:hover {
    color: #c44;
}
.l3history a, .l3history a:visited, .l3history a:hover {
    color: #c44;
}
#l3main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
#l3maps {
    position: relative;
    flex: 1 1 auto;
    padding: .25em;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    transition: opacity .5s;
}
#l3mapbox {
    flex: 1 1 auto;
    position: relative;
}
#l3map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.l3mapctrl {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
}

.l3mapctrl > * {
    padding: .25em;
}

#l3mapbot {
    font-size: 70%;
}

#l3geolocate {
    position: absolute;
    top: 1.5em;
    right: .5em;
    border-radius: 50%;
    font-size: 200%;
    font-weight: bold;
    color: #78e;
    background: rgba(255,255,255,.5);
    z-index: 1000;
}

.l3gpsfail {
    background: rgba(255,128,128,.5);
}

.l3vacant {
    color: #738;
}

#l3typefavs > option {
    font-weight: bold;
}

.l3fav {
    background: #ff5;
}

#l3pintext {
    min-width: 12em;
}

#l3pinthumb {
    width: 4em;
    float: right;
}

#l3pinfav {
    float: right;
}

#l3pinsize {
    clear: right;
}

.l3favtreeyes {
    font-weight: bold;
    color: #c0c;
}

#l3detail {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
#l3detailtop {
    flex: 0 0 auto;
    padding-left: .5em;
    padding-top: .5em;
    font-size: 125%;
}
#l3detailmain {
    flex: 1 1 auto;
    overflow-y: scroll;
    padding: 1em;
}

#l3revise {
    width: 80vw;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
#l3revise > table {
    width: 100%;
    flex: 1 1 auto;
    border: 0;
}
#l3revise > table td {
    padding: .5em;
}
#l3revise > table input {
    width: 100%;
}

.l3fieldtoedit {
    border: .1em solid #f00;
}

#l3detailthumb {
    float: right;
    margin: 1em;
    width: 33vw;
}

#l3confirm {
    min-width: 12em;
    max-width: 80vw;
    overflow-y: auto;
}

.l3detaildlg {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.l3detaildlg > textarea {
    flex: 1 1 auto;
}
#l3notehelp {
    width: 85vw;
    height: 70vh;
    overflow-y: auto;
    padding: 1em;
}

.l3inputline {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}
.l3inputline input {
    flex: 1 1 auto;
}

.l3detailnoteshdr {
    margin-top: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    font-size: 140%;
}
.l3detaildonote {
    border-radius: 50%;
    color: #fff;
    font-size: 120%;
}
#l3detailaddpic, #l3detailaddgenpic {
    background: #009;
}
#l3detailaddnote, #l3detailaddgennote {
    background: #090;
    font-weight: bold;
}

#l3detailnotes, #l3detailgennotes {
    margin-top: .5em;
}

.l3detailnote {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.l3dnhdr {
    border-top: .2em solid #999;
    padding-top: .1em;
    flex: 0 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: .25em;
    font-size: 80%;
}
.l3dnwhen {
    color: #ada;
}
.l3dnname {
    color: #b9d;
    font-weight: bold;
}
.l3dnreviewflag {
    color: #f00;
}
.l3dndelete {
    color: #900;
}
.l3dncontent {
    padding: 0.5em;
}
.l3dncontent img {
    max-width: 100%;
    max-height: 100%;
}

#l3noterevtext {
    flex: 1 1 auto;
}

#l3noteflagwhy {
    flex: 0 1 auto;
    max-height: 4em;
    overflow-y: auto;
    padding: .5em;
    white-space: pre-wrap;
    background: #ccf;
}

#l3noteflagwhat {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1em;
    background: #fcc;
}

#l3picrevframe {
    flex: 1 1 auto;
    position: relative;
}
#l3picrevpic {
position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}
#l3picrevcanvas {
    position: fixed;
    top: 1000%;
    left: 1000%;
}

#intro {
    z-index: 10000;
    position: fixed;
    top: .25em;
    right: .25em;
    transition: top .25s, left .25s, right .25s;
}
#introShow {
    position: absolute;
    top: 0;
    right: 0;
}
#introShow > button {
    font-size: 125%;
    font-weight: 900;
    padding: .25em;
}
#introMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 85vw;
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: .25em;
    background: rgba(0,0,0,.85);
}
.introScreen {
    flex: 1 1 1em;
    overflow-y: auto;
    padding: .5em;
    color: #bbb;
}
.introScreen > h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 150%;
    padding-bottom: .2em;
    margin-top: 0;
    margin-bottom: .5em;
    border-bottom: 1px solid #b52;
    color: #b52;
}
.introScreen > div {
    margin-top: .1em;
    margin-bottom: 1em;
    margin-left: .5em;
}
.introSubs > div {
    margin-bottom: .5em;
    margin-left: .5em;
}
.introBtn {
    font-size: 75%;
    padding: .25em;
    border: 1px solid #999;
    font-weight: 500;
    color: #bbb;
}
#introClose {
    position: absolute;
    top: 0;
    right: 0;
    color: #c22;
    font-weight: 900;
    font-size: 150%;
    padding: .2em;
    padding-left: .4em;
    padding-right: .4em;
}
#introControls {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
}
#introControls > button {
    font-size: 140%;
    font-weight: 900;
    padding-left: 2em;
    padding-right: 2em;
}


@media (min-aspect-ratio: 4/3) {

}
